<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- font awesame -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <div id="app" class="container">
      
        <header>
            <div class="header-cont">
                <span class="left-side">
                    <img @click='returnIntro()' src="https://fontmeme.com/permalink/210421/c072857f28ffed69c9266a55183f4c20.png" alt="">
                </span>
                <span class="right-side">
                    <input v-model='query' type="text" @keydown.enter="search()" placeholder="Cerca un film o una serie...">
                    <i  @click='search()' class="fas fa-search"></i>
                </span>
            </div>
        </header>

        <main>
            <div v-show='intro' class="intro-bg">
                <div></div>
                <h1 class='intro-content'>Film, serie TV e tanto altro.</h1>
                <h1 class='intro-content'>Senza limiti.</h1>
                <h3 class='intro-content'>Guarda ciò che vuoi ovunque. Disdici quando vuoi.</h3>

            </div>

          <div v-show='researchedList' class="sub-cont">
            <div>
                <h2 class='label-list' v-if='(movies.length)>0'>Film :</h2>
                <ul class="films-list"> 
                    <li  v-if="(item.poster_path) != null" v-for='(item,index) in movies'  >
                        <img   @mouseover='showInfo(item)' v-if='!((item.adult)&&(info))' class="poster" v-bind:src="(imgPath+item.poster_path)"> 
                        <div @mouseleave='hideInfo(item)' v-else v-show='info' class="data-film">                     
                            <h4>
                                <span>Titolo :</span>  
                                {{item.title}} 
                            </h4>
                            <h6 v-if='item.title.toUpperCase!=item.original_title.toUpperCase'>
                                <span>Titolo originale:</span>
                                {{item.original_title}}
                            </h6>
                            <span v-if="flag[item.original_language]" >
                                <img class="flag"  :src="flag[item.original_language]"> 


                            </span>
                            <span class="flag" v-else>
                                {{item.original_language.toUpperCase()}}

                            </span>
                    
                            
                            <h6 >
                                <span>Voto:</span>
                                <i class="fas fa-star" v-for="elem in showStars(item.vote_average)"></i>
                                <i class="far fa-star" v-for="elem in (5 - showStars(item.vote_average))"></i>
                            </h6>
                            <h6 >
                                <span   v-if='item.overview!=""'>Overview:</span>
                                {{item.overview}}
                            </h6>
                            <span  class='actors-label actors-pop' @click=' showActors(item.id)'>Attori principali :</span>
                            
                            <span class='actors-label' v-for="actor in actors"  v-if="(item.id == movieID) && (info) && (item.adult)">
                                
                                <br> {{ actor.name }}
                            </span>

                    </li>
                   
                </ul>
                <h2 class='label-list' v-if='(tvSeries.length)>0'>Serie TV :</h2>
                <ul class="series-list">
                    
                    <li v-if="(item.poster_path) != null" v-for='item in tvSeries' >
                        <img @mouseover='showInfoSerie(item)' v-if='!((item.vote_count)&&(info))' class="poster" v-bind:src="imgPath+item.poster_path"> 
                        <div  @mouseleave='hideInfoSerie(item)' v-else v-show='info' class="data-film">
                            <h4>
                                <span>Serie TV :</span>  
                                {{item.name}}
                            </h4>
                            <h6 v-if='item.name.toUpperCase!=item.original_name.toUpperCase'>
                                <span>Titolo originale:</span>  
                                {{item.original_name}}
                            </h6>
                            <span v-if="flag[item.original_language]" >
                                <img class="flag"  :src="flag[item.original_language]"> 
                            </span>
                            <span class="flag" v-else>
                                {{item.original_language.toUpperCase()}}
                            </span>
                    
                            <h6 >
                                <span>Voto:</span>
                                <i class="fas fa-star" v-for="elem in showStars(item.vote_average)"></i>
                                <i class="far fa-star" v-for="elem in (5 - showStars(item.vote_average))"></i>
                            </h6>
                            <h6 >
                                <span v-if='item.overview!=""'>Overview:</span>
                                {{item.overview}}
                            </h6>
                            <span  class='actors-label actors-pop' @click=' showActors(item.id)'>Attori principali :</span>
                            
                            <span class='actors-label' v-for="actor in actors"  v-if="(item.id == movieID) && (info) && (item.vote_count)">
                                
                                <br> {{ actor.name }}
                            </span>
                        </div>   

                    </li>
                </ul>
            
            </div>
        </div>
        </main>


     
    </div>


</body>
</html>