*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.container{
    width: 100%;
    height: 100vh;

}


header{
    height: 110px;
    width: 100%;
    background:rgb(5, 6, 7)
}

.header-cont{
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 20px 0;
    display:flex;
    align-items: center;
}

.left-side{
    flex-grow: 1;
} 

.left-side img, button{
    cursor: pointer;
}

.right-side input{
    height: 40px;
    width: 300px;
    padding: 10px 15px 10px 45px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(27, 27, 27);
    border:none;
    color: white;
    position:relative;

}

.right-side i{
    color: rgb(212, 34, 46);
    font-size:25px ;
    position: absolute;
    top: 42px;
    right: 333px;
    cursor: pointer;
}

main{
    width: 100%;
    min-height:calc(100% - 110px);
    height:auto;
    background-color: rgb(27, 27, 27);

}

.intro-bg{
    width: 100%;
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.intro-bg div{
    width: 100%;
    height: calc(100vh - 110px);
    background-image: url(img/intro-bg.jpg);;
    background-position: center;
    background-size: cover; 
    position: absolute;
    opacity: 0.6;
}

 .intro-content{
    z-index: 99;
}

h3.intro-content{
    padding-top: 20px;
}

.sub-cont{
     width: 90%;
    height: 100%;
    margin: auto;
}

ul{
    list-style-type: none;
   display: grid;
    grid-template-columns: auto auto auto auto auto auto; 
}
 
li{
   border: 1px solid white;
   width: 190px;
   height: 270px;
   margin: 10px 0;
   position: relative;
}
.poster{
    width: 188px;
    height: 268px;
}

.data-film{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgb(5, 6, 7);
    color: white;
    padding: 10px;
    overflow-y: auto;
}

.data-film *{
    padding-bottom:7px;
}

.flag > img{
    width: 25px;
}


.fas,.far{
    color: darkgoldenrod;
}

::-webkit-scrollbar {
    width: 8px;
    height: 100%;
   }
   ::-webkit-scrollbar-thumb {
    background:rgb(5, 6, 7);
    border-radius: 10px;
   }
   ::-webkit-scrollbar-thumb:hover{
    background:rgb(5, 6, 7) ;
   }
   ::-webkit-scrollbar-track{
    background:rgb(48, 54, 57);
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
   } 

   .label-list{
       width: 50%;
       color: white;
       padding-top: 20px;
   }



